<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
	<div class="header">
		{% block header %} {% endblock %}
	</div>
	
	<div class="navi">
		{% block nav %} {% endblock %}
	</div>
		{% block content %}
		{% endblock %}
	
	<div class="footer">
		<footer>
			<p>Author: GoReverse</p>
			<small>&copy; Copyright, 2021 Eample incl.</small>
			<address>Somewhere in the planet, Some Country</address>
		</footer>
	</div>
	</body>
	
</html>
