{% extends "base.html" %}

{% block title %}Home{%endblock%}
{% block header %} <h1>Wel come to the sample web app</h1> {% endblock %}
{% block nav %}
	<a href="{{ url_for('about') }}">About</a>
	<a href="{{ url_for('post') }}">Post</a>
{% endblock %}
<div class="row">
{% block content %}
	<div class="column side">
		<h3>The title goes here</h3>
		<p>The content goes here</p>
	</div>
	<div class="column middle">
		<h3>The title goes here</h3>
		<p>The content goes here</p>
	</div>
	<div class="column side">
		<h3>The title goes here</h3>
		<p>The content goes here</p>
	</div>
{% endblock %}
</div>
